.body{
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.owner-login-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Card Design */
.owner-login-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4);
    width: 380px;
    text-align: center;
}

/* Title */
.owner-login-title {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Input Fields */
.owner-input-group {
    margin-bottom: 18px;
}

.owner-input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 17px;
    outline: none;
    transition: 0.3s;
}

/* Input Placeholder Styling */
.owner-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

/* Focus Effect */
.owner-input:focus {
    border-color: #ff4c4c;
    background: rgba(255, 255, 255, 0.4);
}

/* Login Button */
.owner-login-button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #ff4c4c, #d90000);
    border: none;
    border-radius: 10px;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.owner-login-button:hover {
    background: linear-gradient(90deg, #d90000, #ff4c4c);
    transform: scale(1.06);
}

.customer-forgot-password:hover {
    text-decoration: underline;
}

/* Google Login Button */
.owner-google-login {
    width: 100%;
    padding: 12px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.owner-google-login:hover {
    background: #f1f1f1;
}

/* Forgot Password */
.owner-forgot-password {
    display: block;
    margin: 10px 0;
    color: #ff4b5c;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.owner-forgot-password:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 400px) {
    .owner-login-card {
        width: 95%;
        padding: 35px;
    }
}
