.body{
    background-image: url('../assets/background.png');
}

.worker-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-card-worker {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.profile-card-worker h2{
    color: #000000;
}
.profile-info-worker p {
    margin: 10px 0;
    font-size: 16px;
}

.update-profile-worker-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.update-profile-worker-btn:hover {
    background-color: #0056b3;
}
